# Ambientes Virtuais do Python
.venv/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de resultado do Nix
result*

# Arquivos de configuração de IDEs e editores
.vscode/
.idea/
*.swp

# Arquivos gerados pelo script
# Ignora os arquivos .ppm temporários e as imagens de saída
*.ppm
*_gray.*
*_binarized.*
