body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensures images behave as block elements for better layout control */
    margin: 0 auto; /* Center images */
}