.menu {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* For centering */
}
.menu ul li {
    display: inline;
    margin: 0 15px;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.header {
    background-color: #6a0dad; /* Purple */
    background-image: url('../Images/banner.jpg'); /* Relative path to the image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    min-height: 200px; /* Ensure header has a minimum height to display the background */
    color: #fff;
    padding: 20px;
    text-align: center;
}
.content {
    padding: 20px;
    min-height: 300px;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}