# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Nix
result
result-*
.direnv/

# Data
data/*
!data/.gitkeep

# OS
.DS_Store
Thumbs.db
*.log
